# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next
out
build
dist

# Prisma
prisma/migrations/dev.db*

# Environment
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
*.pem

# IDE
.idea
.vscode
*.swp
*.swo

# TypeScript
*.tsbuildinfo
next-env.d.ts